main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.list-group-item-no-decoration {
  text-decoration: none;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  height: 200px; /* Slightly reduce the image height */
  object-fit: cover;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem; /* Further reduce padding */
}

.card-title {
  flex: 0 0 auto;
  margin-bottom: 0.3rem; /* Further reduce margin */
  font-size: 1rem; /* Adjust font size if needed */
}

.card-text {
  flex: 0 0 auto;
  margin-bottom: 0.3rem; /* Further reduce margin */
  font-size: 0.9rem; /* Adjust font size if needed */
  text-decoration: none;
}

.card-price {
  flex: 0 0 auto;
  margin-top: 0.1rem;
  margin-bottom: 0rem;
  text-decoration-line: line-through;
  font-size: 1rem;
}

.card-discount-price {
  flex: 0 0 auto;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-size: 1rem;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1;
}

.rating div {
  margin-left: 0.3rem; /* Adjust spacing between rating and text */
}

.price-container {
  display: flex;
  align-items: baseline;
  gap: 1rem; /* Adjust the gap between prices */
}

.form-label {
  font-weight: bold;
}

.form-control {
  border-radius: 5px;
}

.form-submit-button {
  width: 100%;
  border-radius: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.carousel-item img {
  width: 100%;
  height: 450px; /* Adjust the height as needed */
  object-fit: cover; /* Ensure the image covers the entire area without distorting */
  display: block;
  margin: 0 auto;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  cursor: pointer;
  max-width: 80px;
  max-height: 80px;
  margin: 0 5px;
  opacity: 0.6;
  object-fit: cover; /* Ensure the thumbnail covers the entire area without distorting */
}

.thumbnail.active {
  opacity: 1;
  border: 2px solid black;
}

.strikethrough {
  text-decoration: line-through;
  color: grey;
}

/* styles.css */

.carousel-custom .carousel-item img {
  max-height: 500px;
  object-fit: cover;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.thumbnail.active {
  border: 2px solid #007bff;
}

.strikethrough {
  text-decoration: line-through;
  color: #6c757d;
}

.list-group-item-no-decoration {
  text-decoration: none;
}

.product-screen {
  padding: 20px;
}

.product-screen .btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-select-override {
  width: 100%;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .list-group-item {
  border: none;
}

.send24-widget-modal .modal-content {
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.send24-widget-modal .modal-header {
  background-color: #f9f9f9; /* Slightly darker orange */
  border-bottom: none;
  color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 10px 20px;
}

.send24-widget-modal .modal-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.send24-widget-modal .close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
}

.send24-widget-modal .price-option {
  padding: 8px 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 10px;
}

.send24-widget-modal .select-button {
  background-color: #ffa500; /* Slightly darker orange */
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.send24-widget-modal .select-button:hover {
  background-color: #ffae42; /* Lighter Orange */
}

.send24-widget-modal .read-more-text {
  color: #ffa500;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
}

.send24-widget-modal .description {
  font-size: 0.85rem;
  color: #555;
  margin-top: 5px;
}

.send24-widget-modal .send24-logo {
  height: 40px; /* Adjust height as needed */
}

.not-blink {
  color: #ffa500;
  font-size: large;
}

.blink {
  font-weight: bold;
  font-size: large;
  color: #ffa500;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
